<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
    <h1> You've successfully booked your flight to <%= @arriving_airport %>!</h1>
    <p> Your flight information is below:</p>
    <p>Departing from: <%= @departing_airport %> </p>
    <p>Leaving: <%= @departure_time %>  </p>
    <p>Pasengers: <% @passengers.each do |passenger| %>
         <%= passenger.first_name %>
      <% end %> </p>

  <h4> Have a great flight!</h4>
  </body>
</html>