<h1> Successful booking!</h1>
<br>

All passengers,
<% @passengers.each do |passenger| %>
  <%= passenger.first_name+ "," %>
<% end %>

<%= "have booked flights from #{@flight.departure_airport.name} at #{formatted_date(@flight.flight_time)}" %>